<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Viewer</title>
</head>
<body>

<div class="app-container">
  <div class="posts-container">
  </div>
<!--   <div class="js-posts">
</div> -->
</div>

<script type="text/template" data-template-name="blog-list-template">
  <a href="#posts/<%= objectId %>"><%= title %></a>
</script>

<script type="text/template" data-template-name="view-post-template">
  <ul>
    <li><%= title %></li>
    <li><%= body %></li>
  </ul>
</script>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>

<script type="text/javascript" src="c.js"></script>
</body>
</html>
